import React from 'react';
import PropTypes from 'prop-types';
import wrap from 'mocha-wrap';
import { Portal } from 'react-is';

import { render } from 'enzyme';
import getAdapter from 'enzyme/build/getAdapter';

import {
  describeIf,
  itIf,
} from '../../_helpers';

import {
  useCallback,
  useContext,
  useEffect,
  useLayoutEffect,
  useMemo,
  useReducer,
  useState,
  act,
} from '../../_helpers/react-compat';

export default function describe$Hook({
  Wrap,
  WrapRendered,
  Wrapper,
  WrapperName,
  isShallow,
  isMount,
  makeDOMElement,
}) {
  describe('hooks: $Hook', () => {
  });
}
